{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New transaction{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="from_account">From acoount: </label>
    <input name="from_account" id="from_account" value="{{ request.form['from_account'] }}" required>
    <label for="to_account">To acoount: </label>
    <input name="to_account" id="to_account" value="{{ request.form['to_account'] }}" required>
    <label for="to_account">To acoount: </label>
    <input name="amount" id="amount" value="{{ request.form['amount'] }}" required>
    <input type="submit" value="Save">
  </form>
{% endblock %}